
<div>
<h1>Udemy app</h1>

<hr>
<button class="btn btn-dark">Add Server</button>
<app-success-alert></app-success-alert>
<app-warning-alert></app-warning-alert>

<label>Username</label><br>
<input type="text" [(ngModel)]="username">

<p>{{username}}</p>

<button [disabled]="username === '' " (click)="username = ''"> Not Empty</button>
<br>
<!--<button (click)="userDetail = !userDetail" >Display details</button> -->
<button (click)="onToggleDetails()">Display Details</button>
<p *ngIf="showSecret">show password = tuna</p>
<div *ngFor="let logItem of log; let i = index" 
    [ngStyle] = "{ backgroundColor : 4 >= i ? 'blue' : 'transparent'}" 
    [ngClass] = "{ 'white-text' : 4 >= i } "
    >{{ logItem }}
</div>
<!-- <button [disabled]="onClick()" >Display details</button> -->
<!--
<ul>
    <li *ngFor="let positionInd of positionInds]"></li>
        {{positionInd}}
</ul> -->
</div>